/* ## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) 

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800*/
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --font-size: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

body {
  margin: 20px;
  font-family: 'Inter', sans-serif;

}

.menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.firstImage {
  width: 90vw;
}

.popular-news {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}
.mini-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.mini-article-images {
  width: 30%;
  height: auto;
}

.entry{
display: flex;
flex-direction: column;
justify-content: space-around;
  /* background-color: aquamarine; */
}
.entry>h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  color: var(--grayish-blue);
}
.entry>h3{
  margin: 0;
  font-size:18px;
}
.entry> p{
  font-size: 15px;
  margin: 0;
  color: var(--dark-grayish-blue);
}

.new-news{
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 20px;
}
.new-news > h2{
  margin-top: 0;
  color: var(--soft-orange)
}
.new-news > div > p{
  font-size: 15px;
  margin: 0;
  color: var(--grayish-blue);
}
hr{
  margin:30px 0;
  border: 1px solid var(--grayish-blue);
}
button {
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}